.App {
  text-align: center;
}
.center{
background-color: orange;
text-align: center;
height: 200%;
width:50%;

}
h1{
  text-align: center;
  text-decoration: orangered;
}


.container {
  background-color: hsl(189, 47%, 55%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ol li {
  color: #6361fb; 
  
    
}

#input {
height: 20px;
width: 50%;
top: 10px;
border: none;
font-size: 20px;
background: transparent;
}

.todo_style {
  display:flex;
  flex-direction:row;
  justify-content: left;
  align-items: center;
}
.todo_style x {
  width: 20px;
  height: 20px;
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  
}
.delete{
  margin-left: 50%;
}
ol li.checked{
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
.checkedItem{
  text-decoration: line-through;
}